<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla.html :: head}">
</head>
<body>

<header th:replace="~{layout/plantilla.html :: header}">
</header>


<div class="container py-4">
	<div class="card bg-danger text-white">
	
		<div class="card-header">Error: Acceso Denegado</div>
		<div class="card-body">
		<!-- th:text="${#authentication.name}" -->
			<h5 class="card-tittle">Lo sentimos <span th:text="${cliente.nombre}"></span>, no tienes permisos para accedes a este recurso.</h5>
			
			<a th:href="@{/listar}" class="btn bg-black text-white"> <i class="fa-solid fa-left-long" role="button"></i> Volver</a>
		</div>
	</div>

</div>



<footer th:replace="~{layout/plantilla.html :: footer}"></footer>
</body>
</html>